<div style="text-align: center;">
    <img  class="first" src="assets/laptop.jpg">
<h1 style="color: blueviolet; font-style:center;">Contact Our </h1>
<h1 font-style="center">Customer Support Center </h1>

</div>
<br>
<div class="form-group" style="text-align:right;">
    <br>
    <br>
    <br>
    <div class="container">
    <h4>Contact Information</h4>
    Please fill all he details
</div>
</div>

<label>Name *</label>
<div class="row">
    <div class="col">
<input type="text" class="form-control">First Name
    </div>
    <div class="col">
        <input type ="text" class="form-control">Last Name
        </div>
</div>
   <br>
<div class="row">
 <label> Email *</label>
    <input type="text " class="form-control">
</div>
<br>
<div class="row">
    <label> Phone *</label>
       <input type="text " class="form-control">
   </div>
   <br>
   <div class="row">
    <label> Address *</label>
       <input type="text " class="form-control">
   </div>
    
   